// Newsletter signup form
.widget .wpcf7 {
    border: 1px #c6d2d0 solid;
    padding: 1rem;
}

#newsletter-popup {
    position: fixed;
    background-color: #2a8dce;
    width: 0px;
    height: 0px;
    bottom: 0;
    right: 0;
    z-index: 101;
    transition: width 1.2s, height 1.2s;

    &.expand {
        width: 440px;
        height: 620px;
    }

    .toolbar {
        width: 440px;
        text-align: right;
    }

    .content {
        padding: 1rem 2rem;
    }

    h1, h4 {
        width: 376px;
        color: $white;
        text-align: center;
    }

    h4 {
        font-size: 1.2rem;
    }

    .wpcf7-not-valid-tip {
        color: #c0fe55;
    }

    .wpcf7-submit {
        width: 100%;
    }

    .wpcf7-spinner {
        margin-left: 6px;
    }

    .wpcf7 form .wpcf7-response-output {
        margin-top: 0;
    }

    @media only screen and (max-width: 481px) {

        transition: height 1.2s;

        &.expand {
            width: 100%;
        }

        .toolbar {
            width: auto;
        }

        h1, h4 {
            width: auto;
        }
    }
}
