.kc-testimonial-shortcode .testimonial-featured-image {
	float: left;
	max-width: 150px;
	max-height: 150px;
	padding-right: 1rem;
}

// .kc-testimonial-shortcode .stars {
// 	display: inline-block;
// }
// .kc-testimonial-shortcode.owl-carousel .testimonial-entry-content {
// 	margin-left: 160px;
// }

.kc-testimonial-shortcode.owl-carousel .owl-item .testimonial-entry-title .stars {
	display: inline-block; 
	padding-left: 10px;
	color: #ffcc00;
}

.kc-testimonial-shortcode.owl-carousel .owl-item .testimonial-entry-title .star-icon {
	display: inline;
}
