.theme-generatepress {

	@mixin woo_button {
		background: $color-primary;
		background-color: $color-primary;
		font-weight: 400;
		color: white;
		box-shadow: none;
		border-color: $color-primary;
		&:hover {
			background-color: lighten($color-primary, 20%);
		}
	}

	.woocommerce #content input.button, 
	&.woocommerce #respond input#submit, 
	&.woocommerce a.button, 
	.woocommerce a.button,
	.woocommerce button.button, 
	.woocommerce input.button, 
	.woocommerce-page #content input.button, 
	.woocommerce-page #respond input#submit, 
	.woocommerce-page a.button, 
	.woocommerce-page button.button, 
	.woocommerce-page input.button {
		@include woo_button;
	}

	.woocommerce #content input.button.alt, 
	.woocommerce #respond input#submit.alt, 
	.woocommerce a.button.alt, 
	&.woocommerce button.button.alt, 
	.woocommerce input.button.alt, 
	.woocommerce-page #content input.button.alt, 
	.woocommerce-page #respond input#submit.alt, 
	.woocommerce-page a.button.alt, 
	.woocommerce-page button.button.alt, 
	.woocommerce-page input.button.alt {
		@include woo_button;

	}

	// Disabled state
	.woocommerce #respond input#submit:disabled, 
	.woocommerce #respond input#submit:disabled[disabled], 
	.woocommerce a.button.disabled, 
	.woocommerce a.button:disabled, 
	.woocommerce a.button:disabled[disabled], 
	.woocommerce button.button.disabled, 
	.woocommerce button.button:disabled, 
	.woocommerce button.button:disabled[disabled], 
	.woocommerce input.button.disabled, 
	.woocommerce input.button:disabled, 
	.woocommerce input.button:disabled[disabled] {
		color: white;
		&:hover {
			background-color: $color-primary;
		}
	}

}
